<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {% comment %} Always show link to home page. {% endcomment %}
      <a class="navbar-brand" href="{{ page.root }}/">Home</a>

    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

	{% comment %} Always show code of conduct. {% endcomment %}
        <li><a href="{{ page.root }}/conduct/">Code of Conduct</a></li>

	{% comment %} Show setup instructions, reference guide, and lesson episodes for lessons. {% endcomment %}
        {% if site.kind == "lesson" %}
        <li><a href="{{ page.root }}/setup/">Setup</a></li>
        <li><a href="{{ page.root }}/reference/">Reference</a></li>
        <li class="dropdown">
          <a href="{{ page.root }}/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Episodes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for episode in site.episodes %}
            <li><a href="{{ page.root }}{{ episode.url }}">{{ episode.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
	{% endif %}

	{% comment %} Show extras for lessons or if this is the main workshop-template repo (where they contain documentation). {% endcomment %}
	{% if site.kind == "lesson" or site.github.repository_name == "workshop-template" %}
        <li class="dropdown">
          <a href="{{ page.root }}/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Extras <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for extra in site.extras %}
            <li><a href="{{ page.root }}{{ extra.url }}">{{ extra.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
	{% endif %}

	{% comment %} Always show license. {% endcomment %}
        <li><a href="{{ page.root }}/license/">License</a></li>
      </ul>
      <!-- <form class="navbar-form navbar-right" role="search" id="search" onsubmit="google_search(); return false;">
        <div class="form-group">
          <input type="text" id="google-search" placeholder="Search..." aria-label="Google site search">
        </div>
      </form> -->
    </div>
  </div>
</nav>
